@model SchoolAdministrator.Models.HomeViewModel

@{
    ViewData["Title"] = "Shop";
}

<section class="vh-90">
    <style type="text/css">
        .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 1px solid lightgray;
            box-shadow: 2px 2px 8px 4px #d3d3d3d1;
            border-radius: 15px;
            font-family: sans-serif;
            margin: 5px;
        }
    </style>


    <flash dismissable="true" />
    <h1><i class="fa-solid fa-book-bookmark"></i> Administrador Escolar</h1>
    <h3>Materias</h3>

    <div class="mb-2">
        @foreach (var item in Model.Subjects)
        {
            <span>@item.Name&nbsp;&nbsp;</span>
        }
    </div>

    @if (Model.Quantity > 0)
    {
        <a asp-action="ShowCart" class="btn btn-outline-primary"><i class="fa-solid fa-cart-shopping"></i> (@Model.Quantity)</a>
    }

    <form asp-action="Shop" method="get" class="mt-2">
        <div class="form-actions no-color">
            <p>
                Buscar por nombre o materia: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                    <input type="submit" value="Buscar" class="btn btn-outline-dark" /> 
                <a asp-action="Shop" class="btn btn-outline-dark"><i class="fa-solid fa-eye"></i> Todos los Productos</a>
            </p>
        </div>
    </form>

     <div class="mb-2 mt-2">
        <a asp-action="Shop" class="btn btn-outline-secondary" asp-route-sortOrder="@ViewData["NameSortParm"]"><i class="fa-solid fa-sort"></i> Ordenar por Nombre</a>&nbsp;&nbsp;
        <a asp-action="Shop" class="btn btn-outline-secondary" asp-route-sortOrder="@ViewData["PriceSortParm"]"><i class="fa-solid fa-sort"></i> Ordenar por Precio</a>
    </div>


    <div class="row row-cols-1 row-cols-md-4 g-4 mt-1">
        @if (Model.Products.Count() > 0)
        {
            @foreach (var item in Model.Products)
            {
                <div class="col">
                    <div class="card h-100">
                        <div class="text-center zoom mt-2">
                            <img src="@item.ImageFullPath" style="height:200px; max-width:230px;" class="text-center" alt=@item.Name />
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title text-navy"> @item.Name</h5>
                            <p class="card-text smfnt">@item.Description</p>
                            <h5 class="text-muted">@Html.DisplayFor(modelItem => item.Price)</h5>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn btn-secondary"><i class="fa-solid fa-circle-info"></i></a>
                            <a asp-action="Add" asp-route-id="@item.Id" class="btn btn btn-primary"><i class="fa-solid fa-circle-plus"></i></a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <h3><i class="fa-solid fa-circle-info"></i> No hay productos con su criterio de búsqueda</h3>
        }
    </div>

    @{
        var prevDisabled = !Model.Products.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.Products.HasNextPage ? "disabled" : "";
    }

    <div class="mt-5 text-center">
        <a asp-action="Shop"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.Products.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-outline-dark @prevDisabled">
            <i class="fa-solid fa-circle-chevron-left"></i>
        </a>
        <a asp-action="Shop"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.Products.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-outline-dark @nextDisabled">
            <i class="fa-solid fa-circle-chevron-right"></i>
        </a>
    </div>


    @section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
</section>
