@model IEnumerable<SchoolAdministrator.Data.Entities.Institution>

<flash dismissable="true" />

<table class="table table-striped table-responsive-md table-bordered smfont"  id="InstitutionsTable">
    <colgroup>
        <col span="1" />
        <col span="1" />
        <col span="1" />
    </colgroup>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstitutionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LevelsNumber)
            </th>
            <th>
                <a onclick="showInPopup('@Url.Action("AddOrEdit", "Institutions", new { id = 0 }, Context.Request.Scheme)' , 'Nueva institución')" class="btn btn-primary text-white"><i class="fa fa-plus-circle"></i> Institución</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a asp-action="Details" asp-controller="Institutions" asp-route-Id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstitutionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LevelsNumber)
            </td>
            <td>
                <a onclick="showInPopup('@Url.Action("AddOrEdit", "Institutions", new { id = item.Id }, Context.Request.Scheme)' , 'Actualizar Institución')" class="btn btn-outline-secondary"><i class="fa-solid fa-pen-to-square"></i></a>
                <button data-id="@item.Id" class="btn btn-outline-danger deleteItem" data-bs-toggle="modal" data-bs-target="#deleteDialog"><i class="fa-solid fa-circle-minus"></i></button>
            </td>
        </tr>
        }
    </tbody>
</table>
